#nav-list li:last-child {
  /* QUITAR CUANDO AGREGAMOS EXTRAS */
  display: none;
}

/*Aqui empieza mi ejercicio para entender como modificar el codigo*/

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--dark-jungle-green);
  z-index: 1;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__logo {
  height: 50%;
  max-width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__name {
  font-size: var(--xlg);
  justify-self: start;
}

.navbar__menu-icon {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  right: 30px;
}

.navbar__menu-icon--show {
  filter: invert(75%) sepia(47%) saturate(2805%) hue-rotate(168deg)
    brightness(87%) contrast(102%);
}

.navbar span {
  /* img container styles */
  height: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}

.nav-list {
  /* option list styles */
  height: 75vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--dark-jungle-green);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%); /* hide list */
  transition: transform var(--normal-transition-time);
}

.nav-list--show {
  /* show list */
  transform: translateY(0%);
  box-shadow: 0px 15px 10px -15px rgb(0, 0, 0);
}

.menu-icon-img--show {
  /* change img colors when nav list is show up */
  filter: invert(75%) sepia(47%) saturate(2805%) hue-rotate(168deg)
    brightness(87%) contrast(102%);
}

.navbar ul li a {
  /* a base styles */
  text-decoration: none;
  color: white;
}

.navbar ul li,
.navbar ul li a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  transition: var(--short-transition-time);
  /* border-bottom: 0.4rem solid var(--blue-sapphire); */
}

@media (any-hover: hover) {
  .navbar ul li:hover {
    /* hover for list options */
    background-color: var(--blue-sapphire);
  }
}

@media only screen and (min-width: 768px) {
  header {
    /* general distribution */
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    justify-items: unset;
    top: 0;
    box-shadow: 0px 10px 12px 0px var(--dark-jungle-green-transparency);
  }

  .navbar span {
    /* img container styles */
    display: none;
  }

  .nav-list {
    /* option list styles */
    position: static;
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateY(0%);
  }

  .navbar ul li a {
    /* a base styles */
    font-weight: lighter;
  }

  .nav-list--show {
    /* show list */
    transform: translateY(0%);
    box-shadow: none;
  }
}
